<!--<app-inventory-item *ngFor='let menuitem of inventoryItems' [menuItem] = "menuitem"></app-inventory-item>-->

<div>
    <table>
        <thead>
            <td>Selection</td>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td>Priority Score</td>
        </thead>
        <tr *ngFor='let transporter of transporterArr' [attr.id]="transporter.payload[0]">
            <td> <input type="checkbox" id="myCheck"> </td>
            <td>{{ transporterArr[0].payload[0] }}</td>
            <td>{{ transporter.payload[4] }}</td>
            <td>{{ transporter.payload[5] }}</td>
            <td>{{ transporter.payload[6] }}</td>
            <button id="remove" (click)="deleteRow(menuitem.menuID)"> Delete</button>
        </tr>
    </table>
    </div>
<button type="button" (click) = "createPost()"> Create Post</button>
<button type="button" (click) = "addBLT()"> Add BLT </button>
<button type="button" (click) = "addItem()"> Add Item </button>
{{ tempTransporter | async | json }}

