<!--<app-inventory-item *ngFor='let menuitem of inventoryItems' [menuItem] = "menuitem"></app-inventory-item>-->

<div>
    <table>
        <thead>
            <td>Selection</td>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td>Priority Score</td>
        </thead>
        <tr *ngFor='let menuitem of inventoryItems' [attr.id]="menuitem.menuID">
            <td> <input type="checkbox" id="myCheck"> </td>
            <td>{{menuitem.menuID}}</td>
            <td>{{menuitem.itemName}}</td>
            <td>{{menuitem.price}}</td>
            <td>{{menuitem.priorityScore}}</td>
            <button id="remove" (click)="deleteRow(menuitem.menuID)"> Delete</button>
        </tr>
    </table>
    </div>
<button type="button" (click) = "createPost()"> Create Post</button>
<button type="button" (click) = "addBLT()"> Add BLT </button>
<button type="button" (click) = "addItem()"> Add Item </button>
