<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/> -->
<div class="row">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Get This Bread</a>

        <!-- Spacer -->
        <div class="col-9"></div>
        <!-- Links -->
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <!-- Need a logo here-->
                <button type="button" class="btn btn-secondary" (click)= "authService.SigninWithGoogle()">
                    <h5> Sign in With Google</h5>
                </button>
            </li>
        </ul>
    </nav>
</div>
