<div class="float-container">

    <div class="float-child">
        <div class="scheduleContainer">
        <p>Time Clock</p>
        <p>Current Date and Time:</p>
        <p>{{currentTime}}</p>
        <br>
        <button type = "mat-raised-button" (click) = "ClockIn()" >Clock In</button>
        <br>
        <br>
        <button type = "mat-raised-button" (click) = "ClockOut()">Clock Out</button>
        </div>
    </div>

    <div class="float-child">
        <div class="scheduleContainer">
        <p>Schedule</p>
        
        <button buttontype = "mat-raised-button" ><a href='view-schedule' >View Current Schedule</a></button>
        <br>
        <br>
        <button type = "mat-raised-button" >Edit Current Schedule</button>
        <br>
        <br>
        <button type = "mat-raised-button" >Create New Schedule</button>
        </div>
    </div>
   
</div>

 