<div class="profileContainer">
  <h1>Welcome to Get This Bread

  </h1>
    <p>
      This is your one stop shop to resturant managment. Manage your inventory systems, schedulers, and item fabircation from one convinient site!
    
      
    </p>
    <span class="badge rounded-pill bg-primary">Primary</span>
    <div class="card">

      <div class="card-header">
  
        Featured
  
      </div>
  
      <div class="card-body">
  
        <h5 class="card-title">Special title treatment</h5>
  
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  
        <a href="#" class="btn btn-primary">Go somewhere</a>
  
      </div>
  
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id ornare arcu odio ut sem nulla pharetra. A iaculis at erat pellentesque adipiscing commodo elit at. Pretium vulputate sapien nec sagittis aliquam malesuada. Aliquam ut porttitor leo a diam sollicitudin tempor. Urna molestie at elementum eu facilisis sed odio morbi quis. Non odio euismod lacinia at quis risus sed vulputate. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim. Quam pellentesque nec nam aliquam. Mauris nunc congue nisi vitae suscipit tellus. Viverra justo nec ultrices dui sapien eget mi proin sed. Sed tempus urna et pharetra pharetra massa massa ultricies mi.

      Morbi tristique senectus et netus. Elit at imperdiet dui accumsan sit amet nulla facilisi. Velit egestas dui id ornare arcu odio ut sem. Ac turpis egestas sed tempus urna et. Pellentesque habitant morbi tristique senectus et. Consequat mauris nunc congue nisi. Vestibulum sed arcu non odio euismod lacinia at. Consequat nisl vel pretium lectus quam id leo in vitae. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Et ultrices neque ornare aenean. Sem nulla pharetra diam sit amet nisl. Massa massa ultricies mi quis hendrerit dolor magna eget est. Adipiscing at in tellus integer feugiat scelerisque.      
    </p>
    <p>
      To get started, please log in with your google account.
    </p>
  </div>


<div class= login-bar>
  <p>
    
  </p>
    <div class= "login-wrapper">
        <button type="button" class="large-button" (click)= "authService.SigninWithGoogle()">
            <p> Sign in With Google</p>
        </button>

</div>
  


  <app-title> </app-title> 
  <app-sidebar> </app-sidebar> 