<app-titlebar></app-titlebar>
<app-sidebar> </app-sidebar> 
<div class="profileContainer">
  <h1>Welcome to Get This Bread </h1>
  <p>
    This is your one stop shop to resturant managment. Manage your inventory systems, schedulers, and item fabircation from one convinient site!
  </p>
  <div class="card">
    <div class="card-header">
      Get This Bread
    </div>
    <div class="card-body">
      <h5 class="card-title">Point of Sales System</h5>
      <p class="card-text">To get started, please log in with your google account.</p>
    </div>
  </div>
</div>
  <!--
  <div class= login-bar>
      <div class= "login-wrapper">
          <button type="button" class="large-button" (click)= "authService.SigninWithGoogle()">
              <p> Sign in With Google</p>
          </button>
    </div>
  </div> 
  -->
