<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 container-fluid">
      <div class="card shadow">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header">
          <h4>Welcome to Get This Bread </h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Get This Bread: Point of Sales System</h5>
          <ul>
            <li>
              <p class="card-text">
                This is your one stop shop to resturant managment. Manage your inventory systems, schedulers, and item fabircation from one convinient site!
              </p>
            </li>
            <li>
              <p class="card-text">To get started, please log in with your google account.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>