.profileContainer {
    text-align: Left;
    position: fixed;
    top: 143px;
    padding: 20px 60px;
    margin-left: 461px;
    margin-right: 80px;
    height: calc(100% - 190px);
    width: calc(100% - 549px);
  
    background-color: rgb(165, 180, 199);
    display: block;
    }
    .formCard2{
        padding: 40px 0px;
    }
    
    .login-wrapper{
      background-color: white;
      width: calc(100% - 547px);
      margin-left: 454px;
      margin-right: 86px;
      display: block;
      float:right;
      margin-top: 42px;
      height: 85px;
  }
    .large-button{
      float: right;
      height: 87px;
      width: 200px;
      background: rgb(2, 170, 248);
  
  
    }
  