<div class="col-12">
    <div class="row">
      <!-- Nav Bar -->
      <div class="col-1 sticky-top">
        <aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2">
          <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Navigation</h2>
          <nav class="small" id="toc">
            <ul class="list-unstyled">
              <li class="my-2">
                <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse">Profile</button>
                <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
                  <li><a class="d-inline-flex align-items-center rounded" href="#typography">About Me</a></li>
                  <li><a class="d-inline-flex align-items-center rounded" href="#images">My Roles</a></li>
                </ul>
              </li>
              <li class="my-2">
                <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#forms-collapse" aria-controls="forms-collapse">Order</button>
                <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
                  <li><a class="d-inline-flex align-items-center rounded active" href="#order">Order</a></li>
                  <li><a class="d-inline-flex align-items-center rounded" href="#checkout">Checkout</a></li>
                  <li><a class="d-inline-flex align-items-center rounded" href="#houseview"></a>House View</li>
                </ul>
              </li>
            </ul>
          </nav>
        </aside>
      </div>

      <!-- Ticket Column -->
      <div class="col-3">
        <div class="sticky-top">
          <div class="overflow-auto">
            ticketitem...................................................itemprice<br>
            ticketitem...................................................itemprice<br>
            ticketitem...................................................itemprice<br>
            ticketitem...................................................itemprice<br>
            ticketitem...................................................itemprice<br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p class="text-right">subtotal: agg.meanofallitemprices</p><br><br><br>
            
          </div>
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary btn-lg btn-block">Send</button>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-primary btn-lg btn-block">Pay</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Menu Column -->
      <div class="col-8">
        
        <div class="bd-example">
          <nav>
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Burgers</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Pizzas</button>
              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Sides</button>
              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Beverages</button>            
              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Desserts</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <!--Burger Tab-->
              <div class="card-columns">
                <div class="card" style="width: 14rem;">
                  <img class="card-img-top center-block"  src="https://images.all-free-download.com/images/graphiclarge/cheese_burger_clip_art_23239.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Cheeseburger</h5>
                    </div>
                </div>
                <div class="card" style="width: 14rem;">
                  <img class="card-img-top" src="https://e7.pngegg.com/pngimages/342/529/png-clipart-bacon-cheeseburger-cheeseburger-bacon-hamburger-wrap-hot-dog-bacon-food-cheese.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Bacon Cheeseburger</h5>
                    </div>
                </div>
                <div class="card" style="width: 14rem;">
                  <img class="card-img-top" src="https://storcpdkenticomedia.blob.core.windows.net/media/recipemanagementsystem/media/recipe-media-files/recipes/retail/x17/20528-teriyaki-pork-burgers-with-grilled-pineapple-760x580.jpg?ext=.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Pineapple Burger</h5>
                    </div>
                </div>
                <div class="card" style="width: 14rem;">
                  <img class="card-img-top" src="https://www.foodiecrush.com/wp-content/uploads/2017/06/Bacon-Double-Cheddar-Cheeseburger-Caramelized-Onions-foodiecrush.com-012-683x1024.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Cheddar Cheesy Bacon Burger</h5>
                    </div>
                </div>
            </div>
          </div>
            <!-- Pizza Tab -->
              <div class="tab-pane fade active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <!--Burger Tab-->
                <div class="card-columns">
                  <div class="card" style="width: 14rem;">
                    <img class="card-img-top center-block"  src="https://natashaskitchen.com/wp-content/uploads/2020/04/Pizza-Dough-Best-Pizza-Crust-Recipe-3-500x375.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Cheese Pizza</h5>
                      </div>
                  </div>
                  <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="https://static.onecms.io/wp-content/uploads/sites/19/2014/07/10/pepperoni-pizza-ck-x.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Pepperoni Pizza</h5>
                      </div>
                  </div>
                  <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="https://breadboozebacon.com/wp-content/uploads/2015/06/Italian-Sausage-Caramelized-Onion-Pizza-SQUARE.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Sausage Pizza</h5>
                      </div>
                  </div>
                  <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="https://prods3.imgix.net/images/articles/2017_05/Facebook-hawaiian-pizza-origins.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Pineapple Pizza</h5>
                      </div>
                  </div>
                  <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="https://i2.wp.com/lifemadesimplebakes.com/wp-content/uploads/2017/04/Garden-Veggie-Pizza-1.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Veggie Pizza</h5>
                      </div>
                  </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <p>Placeholder content for the tab panel. This one relates to the contact tab. Her love is like a drug. All my girls vintage Chanel baby. Got a motel and built a fort out of sheets. 'Cause she's the muse and the artist. (This is how we do) So you wanna play with magic. So just be sure before you give it all to me. I'm walking, I'm walking on air (tonight). Skip the talk, heard it all, time to walk the walk. Catch her if you can. Stinging like a bee I earned my stripes.</p>
            </div>
          </div>


        </div>

      </div>
  </div>
</div>