.inventoryContainer {
    text-align: left;
    position: fixed;
    top: 135px;
    padding: 0px 10px;
    margin-left: 454px;
    margin-right: 28px;
    height: calc(100% - 190px);
    width: calc(100% -38px);
    background-color: rgb(165, 180, 199);
    display: block;
  }