.timeClockContainer {
    text-align: center;
    position:fixed;
    top: 140px;
    padding: 20px 10px;
    margin-left: 250px;
    margin-right: 28px;
    height: auto;
    width: calc(100% - 500px);
    float: right;
    background-color: rgb(165, 180, 199);
    display: block;
  }
 